body{
	margin: 0;
}

header{
	background-color: black;
	color: white;
}

.main{
	background-color: #ccc;
}

.topmenu{
	background-color: red;
}

.menu{
	background-color: green;
}

footer{
	background-color: #ccc;
}
