body{
	margin: 0;
}

header{
	background-color: black;
	color: white;
}

.main{
	background-color: #ccc;
}

.topmenu{
	background-color: red;
}

.menu{
	background-color: green;
}

footer{
<<<<<<< HEAD
	background-color: white;
=======
	background-color: blue;
>>>>>>> be537bcdc8346f81e5b5702686a146910508bda6
}
